.pengajuanTop{
    height: 10vw;
}
.bar{
    margin: 2vw 0 1vw 0;
    height:4vw
}

.bar a{
    float: left;
    margin-right: 1vw;
    width:max-content
}
.listPeminjaman{
    margin-top: 2vw;
}
.box1{
    margin-top: 0.5vw;
    padding: 20px;
    color: black;
}
.itemPeminjaman{
    display: flex;
    justify-content: space-between;
}


.itemPeminjaman .data{
    width: 50%;
    display: flex;
    padding: 0 0;
}
.itemPeminjaman .data .check{
    height: 100%;
    margin: 0;
 }
 .itemPeminjaman .data .check input{
     transform: scale(1.5);
     margin-right: 1vw;
  }
  .itemPeminjaman .status{
    width: 20%;
    text-align: center;
    height: max-content;
}


.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

  /* peminjaman buku */
  .inputan_no_induk{
    text-align: center;
  }

  .inputan_no_induk input{
    width: 60%;
    padding: 0.5vw 1vw;
    /* outline: none; */
    border:solid 1px #ccc;
    border-radius: 20px;
  }

  .detail_peminjam{
    margin-top: 2vw;
  }


  .inputan_peminjaman_buku{
    text-align: center;
    margin-bottom: 2vw;
  }

  .inputan_peminjaman_buku input{
    width: 80%;
    padding: 0.5vw 1vw;
    /* outline: none; */
    border:solid 1px #ccc;
    border-radius: 20px;
  }

  .inputan_peminjaman_buku button{
    width: 15%;
  }

  /* DataTable */
  .active>.page-link, .page-link.active{
    background-color: #264A8A;
  }

  #tabelBuku_filter label{
    display: none;
  }
