* {
    scrollbar-color: grey;
    scrollbar-width: thin;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    background: #202F4E;
    /* background: linear-gradient(90deg, rgba(48, 100, 132, 1) 0%, rgba(48, 137, 121, 1) 57%, rgba(32, 137, 121, 1) 100%); */

}

.text__custom {
    color: #306484;
}

.logo__navbar {
    width: 10%;
    min-width: 80px;
}

.btn__login {
    background-color: #202F4E;
    color: #eaeaea;

}

.hero__1 {
    background: #202F4E;
    /* background: linear-gradient(90deg, rgba(48, 100, 132, 1) 0%, rgba(48, 137, 121, 1) 57%, rgba(32, 137, 121, 1) 100%); */
    height: 40vh;
    min-height: 280px;
}

.btn__search {
    background-color: #FFA600;
    color: #eaeaea;
    aspect-ratio: 1/1 !important;
    font-weight: 800 !important;
    margin-left: -50px;
}

.search__input {
    text-indent: 18px;
    font-size: 13px;
}

.search__input::placeholder {
    padding-left: 10px;
}

.category__ {
    margin-right: -50px;
}

.carousel__container {
    height: 40px !important;
}

.book__ {
    width: 60% !important;
    border-radius: 10px;
}

/* .book__>a>img {
    height: 50%;
} */

.gallery {
    height: 45vh;
    background-image: url('../media/bg3.png');
    overflow: hidden;
    background-position: center;
    object-fit: cover;
    border-radius: 20px;
}

.next {
    top: 30%;
    right: 0;
    z-index: 1000;
    background-color: white;
    color: black;
    border: none;
    width: 75px;
    height: 75px;
}

.prev {
    top: 30%;
    left: 0;
    z-index: 1000;
    background-color: white;
    color: black;
    border: none;
    width: 75px;
    height: 75px;
}

.bg__custom {
    background: #FFD540;
    height: 20px;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 6px;
    height: auto;
    background-color: #202F4E;
}

@media screen and (max-width: 600px) {}